---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts generali</h1>
  <ul>
    {% for post in site.posts %}
      {% if post.category == "home" %}<li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          (<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>)
      </li>{% endif %}
    {% endfor %}
  </ul>

  <h1 class="page-heading">Categorie</h1>
  <ul>
    {% for category in site.categories %}
      {% assign name = category | first %}
      {% if name != "home" %}<li>
          <a href="{{ name | prepend: site.baseurl }}.html">{{ category | first }}</a>
      </li>{% endif %}
    {% endfor %}
  </ul>


</div>
